* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #1D1D1B;
  color: #eeeeee;
}

/* Header */
.header {
  background-color: #1D1D1B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
  border-radius: 26px;
  border: 2px solid #eeeeee;
}

.header__logo-link {
  font-size: 15pt;
  font-weight: bold;
  color: #F9DF22;
  text-decoration: none;
}

.header__menu {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header__menu-link {
  color: #eeeeee;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 10pt;
}

/* Main */
.main {
  padding: 20px;
}

.main-title {
  border: 2px solid #eeeeee;
  border-radius: 26px;
  margin-bottom: 20px;
}

.main-title__title {
  color: #eeeeee;
  font-size: 3rem;
  text-align: center;
  margin: 20px;
}

.main-title__title strong {
  color: #F9DF22;
}

/* Tarjetas */
.catastrophes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.catastrophe-card {
  position: relative;
  border-radius: 26px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}

/* Imagen de fondo con transparencia */
.catastrophe-card__image {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.catastrophe-card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

/* contenido sobre la imagen */
.catastrophe-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #1D1D1B;
  background-color: rgba(238, 238, 238, 0.4);
  padding: 40px;
}

.catastrophe-card__date {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #eeeeee;
}

.catastrophe-card__title {
  font-size: 2rem;
  margin: 10px 0;
  color: #eeeeee;
}

.catastrophe-card__button {
  display: inline-block;
  margin-top: 10px;
  padding: 0.5em;
  color: #1D1D1B;
  background-color: #F9DF22;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.catastrophe-card__button:hover {
  background-color: #1D1D1B;
  color: #F9DF22;
}

/* Sección Voluntarios */
.volunteers {
  text-align: center;
  padding: 40px 20px;
  background-color: #eeeeee;
  border-radius: 26px;
  margin-top: 20px;
}

.volunteers__title {
  font-size: 2rem;
  font-weight: bold;
  color: #1D1D1B;
  margin-bottom: 20px;
}

.volunteers__text {
  font-size: 1rem;
  color: #1D1D1B;
  margin-bottom: 20px;
}

.volunteers__button {
  padding: 0.8em 2em;
  font-size: 1.1rem;
  color: #1D1D1B;
  background-color: #F9DF22;
  border: none;
  border-radius: 10px;
}

.volunteers__button:hover {
  background-color: #1D1D1B;
  color: #F9DF22;
}

/* Sección Contactos de Emergencia */
.emergency-contacts {
  text-align: center;
  padding: 40px 20px;
  background-color: #eeeeee;
  border-radius: 26px;
  margin-top: 20px;
  color: #1D1D1B;
}

.emergency-contacts__title {
  font-size: 2rem;
  font-weight: bold;
  color: #1D1D1B;
  margin-top: 20px;
}

.emergency-contacts__text {
  font-size: 1rem;
  color: #1D1D1B;
  margin-bottom: 30px;
}

.emergency-contacts__numbers {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Footer */
.footer {
  background-color: #1D1D1B;
  color: white;
  text-align: center;
  padding: 15px;
  margin: 20px;
  border-radius: 26px;
  border: 2px solid #eeeeee;
}

.footer__text {
  font-size: 10pt;
}

/* Ajustes para pantallas grandes (Desktop) */
@media (min-width: 1024px) {

  .header {
    padding: 20px 50px;
    margin: 20px auto;
    max-width: 1200px;
  }

  .header__logo-link {
    font-size: 20pt;
  }

  .header__menu {
    gap: 25px;
  }

  .header__menu-link {
    font-size: 12pt;
  }

    /* Main */
    .main {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px 50px;
    }
  
    .main-title {
      max-width: 100%;
      margin: 0 auto 20px;
    }
  
    .main-title__title {
      font-size: 3.5rem;
      margin: 30px;
    }
  
    /* Tarjetas */
    .catastrophes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
  
    .catastrophe-card {
      max-width: 500px;
    }
  
    .catastrophe-card__image {
      height: 350px;
    }
  
    .catastrophe-card__title {
      font-size: 2.2rem;
    }
  
    .catastrophe-card__button {
      padding: 0.7em 1.2em;
      font-size: 1rem;
    }
  
    /* Sección Voluntarios */
    .volunteers {
      max-width: 1200px;
      margin: 30px auto;
      padding: 50px;
    }
  
    .volunteers__title {
      font-size: 2.5rem;
    }
  
    .volunteers__text {
      font-size: 1.2rem;
    }
  
    .volunteers__button {
      padding: 1em 2.5em;
      font-size: 1.2rem;
    }
  
    /* Sección Contactos de Emergencia */
    .emergency-contacts {
      max-width: 1200px;
      margin: 30px auto;
      padding: 50px;
    }
  
    .emergency-contacts__title {
      font-size: 2.5rem;
    }
  
    .emergency-contacts__text {
      font-size: 1.2rem;
    }
  
    .emergency-contacts__numbers {
      gap: 50px;
    }
  
    /* Footer */
    .footer {
      max-width: 1200px;
      margin: 30px auto;
      padding: 20px 50px;
    }
  
    .footer__text {
      font-size: 12pt;
    }
  }

